<h1 mat-dialog-title>Edit Event</h1>
<div mat-dialog-content>
    <form [formGroup]="Event">
        <mat-form-field>
            <mat-label>Event Name</mat-label>
            <input formControlName="EventName" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Event Location</mat-label>
            <input formControlName="EventLocation"  matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Event DateTime</mat-label>
            <input formControlName="EventDateTime" matInput>
          </mat-form-field>
    </form>
    
</div>
<div mat-dialog-actions [align]="'end'">
    <button [disabled]="Event.invalid" mat-dialog-close (click)="updateEvent()" mat-raised-button color="primary">Save</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
</div>