.container{
    width: 15rem;
    align-items: center;
    .studentid{
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        padding-top: 9rem;
    }
    .photo{
        width: 120px;
        height: 120px;
    }
    .studentdetails{
        text-align: center;
        font-size: 1.5rem;
        padding: 2rem;
        .name{
            font-size: 2rem;
            font-weight: 400;
        }
    }
    .icons{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .icons .icon{
        margin-top: 10px;
        padding:  3px 5.250px;
        border: 1px solid #509CDB;
        background-color: #509CDB;
        color: #fff;
   
        border-radius: 5px;
    }
    .icon:hover{
        cursor: pointer;
    }
}