<!-- user-dialog.component.html -->

<h1 mat-dialog-title>{{ dialogData.mode === 'edit' ? 'Edit User' : 'Add User' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm">
    <!-- Name Field -->
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name" required>
      <mat-error *ngIf="userForm.controls['name'].hasError('required')">Name is required</mat-error>
    </mat-form-field>


    <!-- Gender Field -->
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" required>
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
      <mat-error *ngIf="userForm.controls['gender'].hasError('required')">Gender is required</mat-error>
    </mat-form-field>

    <!-- Email Field -->
    <mat-form-field>
      <input matInput type="email" formControlName="email" placeholder="Email" required>
      <mat-error *ngIf="userForm.controls['email'].hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="userForm.controls['email'].hasError('email')">Invalid email format</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [disabled]="userForm.invalid" (click)="onSaveClick()">Save</button>
</div>
