-- USE [Test]
-- GO
-- /****** Object:  Table [dbo].[Users]    Script Date: 2023/9/3 20:26:28 ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- CREATE TABLE [dbo].[Users](
-- 	[Id] [int] IDENTITY(1,1) NOT NULL,
-- 	[Name] [varchar](50) NOT NULL,
-- 	[Gender] [varchar](50) NOT NULL,
-- 	[Email] [varchar](100) NOT NULL,
--  CONSTRAINT [PK__Users__3214EC07818A2004] PRIMARY KEY CLUSTERED 
-- (
-- 	[Id] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
-- ) ON [PRIMARY]
-- GO
-- SET IDENTITY_INSERT [dbo].[Users] ON 

-- INSERT [dbo].[Users] ([Id], [Name], [Gender], [Email]) VALUES (10, N'Tony', N'Female', N'Tony@gmail.com')
-- INSERT [dbo].[Users] ([Id], [Name], [Gender], [Email]) VALUES (12, N'Magma', N'Male', N'Magma@gmail.com')
-- INSERT [dbo].[Users] ([Id], [Name], [Gender], [Email]) VALUES (13, N'Joan', N'Male', N'Joan@qq.com')
-- INSERT [dbo].[Users] ([Id], [Name], [Gender], [Email]) VALUES (14, N'Linda', N'Male', N'Linda@qq.com')
-- INSERT [dbo].[Users] ([Id], [Name], [Gender], [Email]) VALUES (15, N'Ross', N'Male', N'Ross@163.com')

-- SET IDENTITY_INSERT [dbo].[Users] OFF
-- GO

-- 创建 Users 表
CREATE TABLE Users (
	Id INTEGER PRIMARY KEY AUTOINCREMENT,
	Name TEXT NOT NULL,
	Gender TEXT NOT NULL,
	Email TEXT NOT NULL
);

-- 插入数据
INSERT INTO Users (Id, Name, Gender, Email) VALUES (10, 'Tony', 'Female', 'Tony@gmail.com');
INSERT INTO Users (Id, Name, Gender, Email) VALUES (12, 'Magma', 'Male', 'Magma@gmail.com');
INSERT INTO Users (Id, Name, Gender, Email) VALUES (13, 'Joan', 'Male', 'Joan@qq.com');
