/* .mat-toolbar{
    background-color: cornflowerblue;
    color: white;
  } */
  .mat-button{
     color: white;
  }
  .spacer{
    flex: 1 1 auto;
  }
  .user-info {
    margin-left: auto;
    margin-right: 20px;
    font-weight: bold;
  }
 
mat-icon {
  font-size: 24px; /* 设置图标大小 */
  margin-right: 8px; /* 设置图标与用户名之间的间距 */
 
  vertical-align: middle;
}
