<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <mat-form-field class="full-width">
              <input matInput placeholder="Username" [(ngModel)]="userName" name="userName" required>
              <mat-error *ngIf="loginForm.controls['userName'].invalid && loginForm.controls['userName'].touched">
                Username is required.
              </mat-error>
            </mat-form-field>
            
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
              <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                Password is required.
              </mat-error>

            </mat-form-field>
            
            <mat-card-actions class="button-container">
              <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
             
            </mat-card-actions>
            <mat-error *ngIf="loginStatus=='fail'">
                Login Fail.
              </mat-error>
              <mat-hint *ngIf="loginStatus=='success'" >Login Success.</mat-hint>
          </form>
          
    </mat-card-content>

  </mat-card>
  